@using System.Text.Json
@using Dropify.Pages.Admin
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>@ViewData["Title"] - Dropify</title>

    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <link rel="stylesheet" href="~/Admin/css/bootstrap.min.css">

    <link rel="stylesheet" href="~/Admin/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/Admin/css/feathericon.min.css">

    <link rel="stylesheet" href="~/Admin/plugins/datatables/datatables.min.css">

    <link rel="stylesheet" href="~/Admin/css/style.css">
</head>
<body>
    <div class="header">

        <div class="header-left">
            <a href="/Admin/Dashboard" class="logo">
                <img src="~/assets/img/logo.png" alt="Logo" height="65">
            </a>
            <a href="index.html" class="logo logo-small">
                <img src="/assets/img/favicon.png" alt="Logo" height="60" width="60">
            </a>
        </div>

        <a href="javascript:void(0);" id="toggle_btn">
            <i class="fe fe-text-align-left"></i>
        </a>
        <div class="top-nav-search">
            <form>
                <input type="text" class="form-control" placeholder="Search here">
                <button class="btn" type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>

        <a class="mobile_btn" id="mobile_btn">
            <i class="fa fa-bars"></i>
        </a>


        <ul class="nav user-menu">

            <li class="nav-item dropdown noti-dropdown">
                <a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
                    <i class="fe fe-bell"></i> <span class="badge badge-pill">3</span>
                </a>
                <div class="dropdown-menu notifications">
                    <div class="topnav-dropdown-header">
                        <span class="notification-title">News</span>
                      @*   <a href="javascript:void(0)" class="clear-noti"> Clear All </a> *@
                    </div>
                    
                    <div class="topnav-dropdown-footer">
                        <a href="#">View all Notifications</a>
                    </div>
                </div>
            </li>

            <li class="nav-item dropdown has-arrow">
                @{
                    var json = Context.Request.HttpContext.Session.GetString("user");
                    if (!string.IsNullOrEmpty(json))
                    {
                        Models.User user = JsonSerializer.Deserialize<Models.User>(Context.Request.HttpContext.Session.GetString("user"));
                        <a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
                            <span class="user-img"><img class="rounded-circle" src="@user.ImgUrl" width="31" alt="Ryan Taylor"></span>
                        </a>
                        <div class="dropdown-menu">
                            <div class="user-header">
                                <div class="avatar avatar-sm">
                                    <img src="@user.ImgUrl" alt="User Image" class="avatar-img rounded-circle">
                                </div>
                                <div class="user-text">

                                    <h6>@user.NameUser</h6>
                                    <p class="text-muted mb-0">Admin</p>
                                </div>
                            </div>
                            <a class="dropdown-item" href="profile.html">My Profile</a>
                            <a class="dropdown-item" href="settings.html">Settings</a>
                            <a class="dropdown-item" href="/Logout">Logout</a>
                        </div>
                    }

                }
               
            </li>

        </ul>

    </div>

    <div class="sidebar" id="sidebar">
        <div class="sidebar-inner slimscroll">
            <div id="sidebar-menu" class="sidebar-menu">
                <ul class="main-nav">
                    <li class="menu-title">
                        <span><i class="fe fe-home"></i> Main</span>
                    </li>
                    <li>
                        <a href="/Admin/Dashboard">  <i class="fa fa-tachometer" aria-hidden="true"></i>  <span>Dashboard</span></a>
                    </li>

                    <li>
                        <a href="/Admin/Products/AllProducts">  <i class="fa fa-product-hunt" aria-hidden="true"></i> <span> Manage Product</span></a>
                    </li>
                    <li>
                        <a href="/Admin/Categories/AllCategories"><i class="fa fa-tags" aria-hidden="true"></i> <span>  Manage Category</span></a>
                    </li>
                    <li>
                        <a href="/Admin/Supplier/AllSupplier">  <i class="fa fa-handshake-o" aria-hidden="true"></i> <span> Manage Supplier</span></a>
                    </li>
                    <li>
                        <a href="/Admin/Order/AllOrder"> <i class="fa fa-shopping-basket" aria-hidden="true"></i> <span> Manage Order</span></a>
                    </li>
                    <li>
                        <a href="/Admin/Order/ShippingOrder">  <i class="fas fa-truck"></i>  <span>Manage Shipping</span></a>
                    </li>
                    <li class="submenu">
                        <a href="#"> <i class="fa fa-newspaper-o" aria-hidden="true"></i><span>Management News</span> <span class="menu-arrow"></span></a>
                        <ul style="display: none;">
                            <li><a href="/Admin/New/AllNews"> All News </a></li>
                            <li><a href="/Admin/New/AddNew"> Add News </a></li>
                           @*  <li><a href="/Admin/New/EditNew"> Edit News </a></li> *@
                        </ul>
                    </li>
                    <li>
                        <a href="/Admin/Revenue">  <i class="fa fa-bar-chart-o"></i>  <span>Revenue Statistics</span></a>
                    </li>
                    <li>
                        <a href="/Admin/Settings">  <i class="fa fa-cog" aria-hidden="true"></i>  <span>Settings</span></a>
                    </li>
                   
                </ul>
            </div>
        </div>
    </div>

    @RenderBody()

    <!--
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Dropify - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>
    -->


    <script src="~/Admin/js/jquery-3.6.0.min.js"></script>

    <script src="~/Admin/js/bootstrap.bundle.min.js"></script>

    <script src="~/Admin/js/feather.min.js"></script>

    <script src="~/Admin/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/Admin/js/script.js"></script>
 
  
  
    <script>
        var currentPath = window.location.pathname;

        // Lặp qua mỗi thẻ <a> trong danh sách submenu
        document.querySelectorAll('.main-nav li a').forEach(function (item) {
            // Lấy đường dẫn của từng thẻ <a>
            var link = item.getAttribute('href');
            // Kiểm tra xem đường dẫn hiện tại có trùng khớp với đường dẫn của thẻ <a> không
            // if (currentPath === "/Product/AllProduct") {
            //     // Tìm phần tử có class 'has-submenu' và thêm lớp 'active' vào đó
            //     var activelink = document.querySelector('.main-nav .has-submenu');
            //     activelink.classList.add('active');
            // }
            if (currentPath === link) {
                // Nếu có, thêm lớp 'active' vào thẻ <li> chứa thẻ <a>
                item.parentNode.classList.add('active');
            }
        });

    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>