﻿@using Newtonsoft.Json;
@using Dropify.Models;
@using Microsoft.AspNetCore.Http;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Dropify</title>
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.png">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">

    <link rel="stylesheet" href="/assets/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="/assets/plugins/fontawesome/css/all.min.css">

    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body class="body-home-one">
    <header class="header">
        <div class="header-fixed">
            <nav class="navbar navbar-expand-lg header-nav">
                <div class="navbar-header">
                    <a id="mobile_btn" href="javascript:void(0);">
                        <span class="bar-icon">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </a>
                    <a href="/" class="navbar-brand logo">
                        <img src="/assets/img/logo.png" class="img-fluid" alt="Logo">
                    </a>
                </div>
                <div class="main-menu-wrapper">
                    <div class="menu-header">
                        <a href="/" class="menu-logo">
                            <img src="/assets/img/logo.png" class="img-fluid" alt="Logo">
                        </a>
                        <a id="menu_close" class="menu-close" href="javascript:void(0);">
                            <i class="fas fa-times"></i>
                        </a>
                    </div>
                    <ul class="main-nav">
                        <li class="">
                            <a href="/">Home <i class=""></i></a>
                        </li>
                        <li class="">
                            <a href="/Cart">Cart <i class=""></i></a>
                        </li>
                        <li class="has-submenu active">
                            <a>Products <i class="fas fa-chevron-down"></i></a>
                            <ul class="submenu">
                                <li class="has-submenu active">
                                    <a href="/Product/AllProduct">Product</a>
                                    <ul class="submenu">
                                        <li class="active"><a href="blog.html">Active Product</a></li>
                                        <li><a href="blog-details.html">Inactive Product</a></li>
                                    </ul>
                                </li>
                                <li class="has-submenu">
                                    <a href="">Provider</a>
                                    <ul class="submenu">
                                        @foreach (Models.Supplier s in Model.suppliers)
                                        {
                                            <li><a href="/Product/AllProduct?supplierSearch=@s.SupplierId">@s.SupplierName</a></li>
                                        }
                                    </ul>
                                </li>
                                <li class="has-submenu">
                                    <a href="">Category</a>
                                    <ul class="submenu">
                                        @foreach (Models.Category c in Model.categories)
                                        {
                                            if (c.ChildCategory.Count > 0)
                                            {
                                            <li class="has-submenu">
                                                <a href="">@c.CategoryName</a>
                                                <ul class="submenu">
                                                    @foreach (Models.Category c2 in c.ChildCategory)
                                                    {
                                                        <li><a href="/Product/AllProduct?categorySearch=@c2.CategoryId">@c2.CategoryName</a></li>
                                                    }
                                                </ul>
                                            </li>
                                            }
                                            else
                                            {
                                                <li class=""><a href="/Product/AllProduct?categorySearch=@c.CategoryId">@c.CategoryName</a></li>
                                            }
                                        }
                                    </ul>
                                <li>
                            </ul>
                        </li>
                        <li class="">
                            <a href="/News">News <i class=""></i></a>
                        </li>
                        <li class="">
                            <a href="/AboutUs">About Us <i class=""></i></a>
                        </li>
                        <li class="has-submenu">
                            <a href="/Admin/Dashboard">Admin <i class="fas fa-chevron-down"></i></a>
                            <ul class="submenu">
                                <!--All Products (Admin Site)	/Admin/Products/AllProducts
                                All Categories(Admin Site)	/Admin/Categories/AllCategories
                                All Supplier(Admin Site)	/Admin/Supplier/AllSupplier
                                Dashboard(Admin Site)	/Admin/Dashboard
                                All News (Admin Site)	/Admin/News
                                All Orders (Admin Site)	/Admin/AllOrders
                                All Users (Admin Site)	/Admin/AllUsers-->
                                <li><a href="/Admin/Dashboard">Dashboard</a></li>
                                <li><a href="/Admin/Products/AllProducts">All Products</a></li>
                                <li><a href="/Admin/Categories/AllCategories">All Categories</a></li>
                                <li><a href="/Admin/Supplier/AllSupplier">All Supplier</a></li>
                                <li><a href="/Admin/News">All News</a></li>
                                <li><a href="/Admin/AllOrders">All Orders</a></li>
                                <li><a href="/Admin/AllUsers">All Users</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!--Login button here-->
                @{
                    Models.User u;
                    Models.UserDetail ud = new UserDetail();
                    string userString = Context.Request.HttpContext.Session.GetString("user");
                    System.Diagnostics.Debug.WriteLine("UID: " + userString);
                    if (userString != null)
                    {
                        u = JsonConvert.DeserializeObject<User>(userString);
                        Logics.UserDetailDAO userDAO = new Logics.UserDetailDAO();
                        ud = userDAO.GetUserDetailById(u.Uid);
                    }
                }
                @if (userString != null)
                {
                <ul class="nav header-navbar-rht">
                    <li class="nav-item dropdown has-arrow logged-item">
                        <a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
                            <span class="user-img">
                                 <img class="rounded-circle" src="@ud.ImgUrl" width="31" alt="Darren Huhu">
                            </span>
                        </a>
                        
                        
                            <div class="dropdown-menu dropdown-menu-end">
                                <div class="user-header">
                                    <div class="avatar avatar-sm">
                                        <img src="@ud.ImgUrl" alt="User Image" class="avatar-img rounded-circle">
                                    </div>
                                    <div class="user-text">
                                        <h6>@ud.Name</h6>
                                        <p class="text-muted mb-0">Mentor</p>
                                    </div>
                                </div>
                                <a class="dropdown-item" href="dashboard.html">Dashboard</a>
                                <a class="dropdown-item" href="profile-settings.html">Profile Settings</a>
                                <a class="dropdown-item" href="login.html">Logout</a>
                            </div>      
                        
                        
                                <div class="user-text">
                                    @if (!string.IsNullOrEmpty(Context.Request.HttpContext.Session.GetString("user")))
                                    {
                                        string userJson = Context.Request.HttpContext.Session.GetString("user");
                                        dynamic user = Newtonsoft.Json.JsonConvert.DeserializeObject(userJson);
                                        <h6>@user.Email</h6>
                                    }
                                    else
                                    {
                                        <h6>Guest User</h6>
                                    }
                                    <p class="text-muted mb-0">Mentor</p>
                                </div>
                            <a class="dropdown-item" href="dashboard.html">Dashboard</a>
                            <a class="dropdown-item" href="profile-settings.html">Profile Settings</a>
                            @if (!string.IsNullOrEmpty(Context.Request.HttpContext.Session.GetString("user")))
                            {
                                <a class="dropdown-item" href="/Logout">Logout</a>
                            }
                            else
                            {
                                <a class="dropdown-item" href="/Login">Login</a>
                            }
                    </li>
                </ul>

                }
                else
                {
                    <ul class="nav header-navbar-rht">
                        <div style="margin-right: 5px"><a class="btn btn-primary" href="/Login">Login</a></div>
                        <div><a class="btn btn-primary" href="/Register">Register</a></div>
                         
                        
                    </ul>
                }
            </nav>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="footer">

        <div class="footer-top">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3 col-md-6">

                        <div class="footer-widget footer-about">
                            <div class="footer-logo">
                                <img src="/assets/img/logo.png" alt="logo">
                            </div>
                            <div class="footer-about-content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                <div class="social-icon">
                                    <ul>
                                        <li>
                                            <a href="#" target="_blank"><i class="fab fa-facebook-f"></i> </a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank"><i class="fab fa-twitter"></i> </a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank"><i class="fab fa-dribbble"></i> </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-3 col-md-6">

                        <div class="footer-widget footer-menu">
                            <h2 class="footer-title">For Mentee</h2>
                            <ul>
                                <li><a href="search.html">Search Mentors</a></li>
                                <li><a href="login.html">Login</a></li>
                                <li><a href="register.html">Register</a></li>
                                <li><a href="booking.html">Booking</a></li>
                                <li><a href="dashboard-mentee.html">Mentee Dashboard</a></li>
                            </ul>
                        </div>

                    </div>
                    <div class="col-lg-3 col-md-6">

                        <div class="footer-widget footer-menu">
                            <h2 class="footer-title">For Mentors</h2>
                            <ul>
                                <li><a href="appointments.html">Appointments</a></li>
                                <li><a href="chat.html">Chat</a></li>
                                <li><a href="login.html">Login</a></li>
                                <li><a href="register.html">Register</a></li>
                                <li><a href="dashboard.html">Mentor Dashboard</a></li>
                            </ul>
                        </div>

                    </div>
                    <div class="col-lg-3 col-md-6">

                        <div class="footer-widget footer-contact">
                            <h2 class="footer-title">Contact Us</h2>
                            <div class="footer-contact-info">
                                <div class="footer-address">
                                    <span><i class="fas fa-map-marker-alt"></i></span>
                                    <p> 3556 Beech Street, San Francisco,<br> California, CA 94108 </p>
                                </div>
                                <p>
                                    <i class="fas fa-phone-alt"></i>
                                    +1 315 369 5943
                                </p>
                                <p class="mb-0">
                                    <i class="fas fa-envelope"></i>
                                    <a href="https://mentoring.dreamguystech.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="ee838b809a819c878089ae8b968f839e828bc08d8183">[email&#160;protected]</a>
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>


        <div class="footer-bottom">
            <div class="container-fluid">

                <div class="copyright">
                    <div class="row">
                        <div class="col-12 text-center">
                            <div class="copyright-text">
                                <p class="mb-0">&copy; 2020 Mentoring. All rights reserved.</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </footer>
    <script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="/assets/js/jquery-3.6.0.min.js"></script>

    <script src="/assets/js/bootstrap.bundle.min.js"></script>

    <script src="/assets/plugins/theia-sticky-sidebar/ResizeSensor.js"></script>
    <script src="/assets/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js"></script>

    <script src="/assets/js/script.js"></script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
