@page
@model Dropify.Pages.Admin.ManageProduct.ProductModel

@{
    Layout = "_AdminLayout";
}


<body>

    
    <div class="main-wrapper">

        <div class="page-wrapper">
            <div class="content container-fluid">

                <div class="page-header">
                    <div class="row">
                        <div class="col-sm-12">
                            <h3 class="page-title">Management Product</h3>

                        </div>
                    </div>
                </div>
              
                    <div class="col">
                        <a class="btn btn-success" data-bs-toggle="modal" href="#add_modal">
                            <i class="fe fe-plus"></i>
                            New Product
                        </a>
                    </div>
               
                <br />
               
                <div class="card">
                    <div class="card-body">
                        <ul class="nav nav-tabs nav-tabs-bottom nav-justified">
                            <li class="nav-item">
                                <a class="nav-link active"
                                   href="#bottom-justified-tab" data-bs-toggle="tab">Release</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#bottom-justified-tab1"
                                   data-bs-toggle="tab">Selling</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#bottom-justified-tab2"
                                   data-bs-toggle="tab">Shipping</a>
                            </li>
                             <li class="nav-item">
                                <a class="nav-link" href="#bottom-justified-tab3"
                                   data-bs-toggle="tab">Success</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#bottom-justified-tab4"
                                   data-bs-toggle="tab">Cancel</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane show active" id="bottom-justified-tab">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="table-responsive">
                                                    <table class=" table table-hover table-center mb-0">
                                                        <thead>
                                                            <tr>
                                                                <th width="100">ProductID</th>
                                                                <th width="300">Name</th>
                                                                <th width="300">Categories</th>
                                                                <th width="300">Supplier</th>
                                                                <th width="100">Original Price</th>
                                                                <th width="100">Sell Out Price</th>
                                                                <th width="100">Status</th>
                                                                <th class="text-end">Action</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @if (Model.ListProduct != null)
                                                            {
                                                                @foreach (var p in Model.ListProduct)
                                                                {

                                                                    <tr>
                                                                        <td>
                                                                            @p.ProductId
                                                                        </td>
                                                                        <td>
                                                                            <a asp-page="DetailProduct" asp-route-id="@p.ProductId" > <span class="limitedText">@p.Name</span></a>
                                                                        </td>
                                                                        <td>@p.Category.CategoryName </td>
                                                                        <td>
                                                                            @p.Supplier.SupplierName

                                                                        </td>

                                                                        <td>
                                                                            <span class="price">@p.OriginalPrice</span>
                                                                        </td>
                                                                        <td>
                                                                            <span class="price"> @p.SellOutPrice</span>
                                                                        </td>

                                                                        <td>
                                                                            @p.Status
                                                                        </td>

                                                                        <td class="text-end">
                                                                            <div class="actions">
                                                                                <a class="btn btn-sm bg-success-light" data-bs-toggle="modal" data-id="@p.ProductId"
                                                                                   data-name="@p.Name" data-cate="@p.CategoryId" data-supp="@p.SupplierId"
                                                                                   data-oprice="@p.OriginalPrice" data-sprice="@p.SellOutPrice" data-create="@p.CreatedDate" data-end="@p.EndDate"
                                                                                   data-start="@p.StartDate" data-ship="@p.Shipdate" data-status="@p.Status"
                                                                                   data-bs-target="#edit_modal" href="#edit_modal">
                                                                                    <i class="fe fe-pencil"></i> Edit
                                                                                </a>
                                                                                <a data-bs-toggle="modal" data-bs-target="#delete_modal" href="#delete_modal" data-id="@p.ProductId" class="btn btn-sm bg-danger-light">
                                                                                    <i class="fe fe-trash"></i> Delete
                                                                                </a>
                                                                            </div>
                                                                        </td>
                                                                    </tr>


                                                                }
                                                            }


                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="bottom-justified-tab1">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="table-responsive">
                                                    <table class=" table table-hover table-center mb-0">
                                                        <thead>
                                                            <tr>
                                                                <th width="100">ProductID</th>
                                                                <th width="300">Name</th>
                                                                <th width="300">Categories</th>
                                                                <th width="300">Supplier</th>
                                                                <th width="100">Original Price</th>
                                                                <th width="100">Sell Out Price</th>
                                                                <th width="100">Status</th>
                                                                <th class="text-end">Action</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @if (Model.ListProduct2 != null)
                                                            {
                                                                @foreach (var p in Model.ListProduct2)
                                                                {

                                                                    <tr>
                                                                        <td>
                                                                            @p.ProductId
                                                                        </td>
                                                                        <td>
                                                                            <span class="limitedText">@p.Name</span>
                                                                        </td>
                                                                        <td>@p.Category.CategoryName </td>
                                                                        <td>
                                                                            @p.Supplier.SupplierName

                                                                        </td>

                                                                        <td>
                                                                            <span class="price">@p.OriginalPrice</span>
                                                                        </td>
                                                                        <td>
                                                                            <span class="price"> @p.SellOutPrice</span>
                                                                        </td>

                                                                        <td>
                                                                            @p.Status
                                                                        </td>

                                                                        <td class="text-end">
                                                                            <div class="actions">
                                                                                <a class="btn btn-sm bg-success-light" data-bs-toggle="modal" data-id="@p.ProductId"
                                                                                   data-name="@p.Name" data-cate="@p.CategoryId" data-supp="@p.SupplierId"
                                                                                   data-oprice="@p.OriginalPrice" data-sprice="@p.SellOutPrice" data-create="@p.CreatedDate" data-end="@p.EndDate"
                                                                                   data-start="@p.StartDate" data-ship="@p.Shipdate" data-status="@p.Status"
                                                                                   data-bs-target="#edit_modal" href="#edit_modal">
                                                                                    <i class="fe fe-pencil"></i> Edit
                                                                                </a>
                                                                                <a data-bs-toggle="modal" data-bs-target="#delete_modal" href="#delete_modal" data-id="@p.ProductId" class="btn btn-sm bg-danger-light">
                                                                                    <i class="fe fe-trash"></i> Delete
                                                                                </a>
                                                                            </div>
                                                                        </td>
                                                                    </tr>


                                                                }
                                                            }


                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="bottom-justified-tab2">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="table-responsive">
                                                    <table class=" table table-hover table-center mb-0">
                                                        <thead>
                                                            <tr>
                                                                <th width="100">ProductID</th>
                                                                <th width="300">Name</th>
                                                                <th width="300">Categories</th>
                                                                <th width="300">Supplier</th>
                                                                <th width="100">Original Price</th>
                                                                <th width="100">Sell Out Price</th>
                                                                <th width="100">Status</th>
                                                                <th class="text-end">Action</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @if (Model.ListProduct3 != null)
                                                            {
                                                                @foreach (var p in Model.ListProduct3)
                                                                {

                                                                    <tr>
                                                                        <td>
                                                                            @p.ProductId
                                                                        </td>
                                                                        <td>
                                                                            <span class="limitedText">@p.Name</span>
                                                                        </td>
                                                                        <td>@p.Category.CategoryName </td>
                                                                        <td>
                                                                            @p.Supplier.SupplierName

                                                                        </td>

                                                                        <td>
                                                                            <span class="price">@p.OriginalPrice</span>
                                                                        </td>
                                                                        <td>
                                                                            <span class="price"> @p.SellOutPrice</span>
                                                                        </td>

                                                                        <td>
                                                                            @p.Status
                                                                        </td>

                                                                        <td class="text-end">
                                                                            <div class="actions">
                                                                                <a class="btn btn-sm bg-success-light" data-bs-toggle="modal" data-id="@p.ProductId"
                                                                                   data-name="@p.Name" data-cate="@p.CategoryId" data-supp="@p.SupplierId"
                                                                                   data-oprice="@p.OriginalPrice" data-sprice="@p.SellOutPrice" data-create="@p.CreatedDate" data-end="@p.EndDate"
                                                                                   data-start="@p.StartDate" data-ship="@p.Shipdate" data-status="@p.Status"
                                                                                   data-bs-target="#edit_modal" href="#edit_modal">
                                                                                    <i class="fe fe-pencil"></i> Edit
                                                                                </a>
                                                                                <a data-bs-toggle="modal" data-bs-target="#restore_modal" href="#restore_modal" data-reid="@p.ProductId" class="btn btn-sm bg-warning-light">
                                                                                    <i class="fe fe-trash"></i> Restore
                                                                                </a>
                                                                            </div>
                                                                        </td>
                                                                    </tr>


                                                                }
                                                            }


                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="bottom-justified-tab3">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="table-responsive">
                                                    <table class=" table table-hover table-center mb-0">
                                                        <thead>
                                                            <tr>
                                                                <th width="100">ProductID</th>
                                                                <th width="300">Name</th>
                                                                <th width="300">Categories</th>
                                                                <th width="300">Supplier</th>
                                                                <th width="100">Original Price</th>
                                                                <th width="100">Sell Out Price</th>
                                                                <th width="100">Status</th>
                                                                <th class="text-end">Action</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @if (Model.ListProduct4 != null)
                                                            {
                                                                @foreach (var p in Model.ListProduct3)
                                                                {

                                                                    <tr>
                                                                        <td>
                                                                            @p.ProductId
                                                                        </td>
                                                                        <td>
                                                                            <span class="limitedText">@p.Name</span>
                                                                        </td>
                                                                        <td>@p.Category.CategoryName </td>
                                                                        <td>
                                                                            @p.Supplier.SupplierName

                                                                        </td>

                                                                        <td>
                                                                            <span class="price">@p.OriginalPrice</span>
                                                                        </td>
                                                                        <td>
                                                                            <span class="price"> @p.SellOutPrice</span>
                                                                        </td>

                                                                        <td>
                                                                            @p.Status
                                                                        </td>

                                                                        <td class="text-end">
                                                                            <div class="actions">
                                                                                <a class="btn btn-sm bg-success-light" data-bs-toggle="modal" data-id="@p.ProductId"
                                                                                   data-name="@p.Name" data-cate="@p.CategoryId" data-supp="@p.SupplierId"
                                                                                   data-oprice="@p.OriginalPrice" data-sprice="@p.SellOutPrice" data-create="@p.CreatedDate" data-end="@p.EndDate"
                                                                                   data-start="@p.StartDate" data-ship="@p.Shipdate" data-status="@p.Status"
                                                                                   data-bs-target="#edit_modal" href="#edit_modal">
                                                                                    <i class="fe fe-pencil"></i> Edit
                                                                                </a>
                                                                                <a data-bs-toggle="modal" data-bs-target="#restore_modal" href="#restore_modal" data-reid="@p.ProductId" class="btn btn-sm bg-warning-light">
                                                                                    <i class="fe fe-trash"></i> Restore
                                                                                </a>
                                                                            </div>
                                                                        </td>
                                                                    </tr>


                                                                }
                                                            }


                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="bottom-justified-tab4">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="table-responsive">
                                                    <table class=" table table-hover table-center mb-0">
                                                        <thead>
                                                            <tr>
                                                                <th width="100">ProductID</th>
                                                                <th width="300">Name</th>
                                                                <th width="300">Categories</th>
                                                                <th width="300">Supplier</th>
                                                                <th width="100">Original Price</th>
                                                                <th width="100">Sell Out Price</th>
                                                                <th width="100">Status</th>
                                                                <th class="text-end">Action</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @if (Model.ListProduct4 != null)
                                                            {
                                                                @foreach (var p in Model.ListProduct4)
                                                                {

                                                                    <tr>
                                                                        <td>
                                                                            @p.ProductId
                                                                        </td>
                                                                        <td>
                                                                            <span class="limitedText">@p.Name</span>
                                                                        </td>
                                                                        <td>@p.Category.CategoryName </td>
                                                                        <td>
                                                                            @p.Supplier.SupplierName

                                                                        </td>

                                                                        <td>
                                                                            <span class="price">@p.OriginalPrice</span>
                                                                        </td>
                                                                        <td>
                                                                            <span class="price"> @p.SellOutPrice</span>
                                                                        </td>

                                                                        <td>
                                                                            @p.Status
                                                                        </td>

                                                                        <td class="text-end">
                                                                            <div class="actions">
                                                                                <a class="btn btn-sm bg-success-light" data-bs-toggle="modal" data-id="@p.ProductId"
                                                                                   data-name="@p.Name" data-cate="@p.CategoryId" data-supp="@p.SupplierId"
                                                                                   data-oprice="@p.OriginalPrice" data-sprice="@p.SellOutPrice" data-create="@p.CreatedDate" data-end="@p.EndDate"
                                                                                   data-start="@p.StartDate" data-ship="@p.Shipdate" data-status="@p.Status"
                                                                                   data-bs-target="#edit_modal" href="#edit_modal">
                                                                                    <i class="fe fe-pencil"></i> Edit
                                                                                </a>
                                                                                <a data-bs-toggle="modal" data-bs-target="#restore_modal" href="#restore_modal" data-reid="@p.ProductId" class="btn btn-sm bg-warning-light">
                                                                                    <i class="fe fe-trash"></i> Restore
                                                                                </a>
                                                                            </div>
                                                                        </td>
                                                                    </tr>


                                                                }
                                                            }


                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                
            </div>
        </div>

    </div>
    <div class="modal fade" id="delete_modal" role="dialog"  aria-hidden="true" >
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content"  >

                <div class="modal-body">
                    <form method="post" asp-page="/Admin/Products/AllProducts" asp-page-handler="Delete">
                        <div class="form-content p-2">
                            <h4 class="modal-title">Delete</h4>
                            <p class="mb-4">Are you sure want to delete?</p>
                            <button type="submit" id="MyLink" class="btn btn-primary" >Delete </button>
                            <input type="hidden" value="" id="p_id" name="p_id"  />
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                        </div>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="restore_modal" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">

                <div class="modal-body">
                    <form method="post" asp-page="/Admin/Products/AllProducts" asp-page-handler="Restore">
                        <div class="form-content p-2">
                            <h4 class="modal-title text-center">Restore</h4>
                            <p class="mb-4 text-center">Are you sure want to Restore?</p>
                            <div class="d-flex me-1 justify-content-center" >
                            <button  type="submit" id="MyLink" class="btn btn-primary" style="margin-right:6px ;width:75px ;"> Restore </button>
                            <input type="hidden" value="" id="restore_id" name="restore_id" />
                            <button type="button" class="btn btn-danger" style="width : 75px;" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="edit_modal" aria-hidden="true" role="dialog">
        <div class="modal-dialog modal-dialog-centered" style="width: 900px ; max-width:100%" role="document">
            <div class="modal-content" >
                <div class="modal-body">
                    <div class="form-content p-2">
                        <div class="modal-header border-0">
                            <h4 class="modal-title">Edit</h4>
                            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <form method="post" asp-page-handler="Edit" asp-page="/Admin/Products/AllProducts" autocomplete="off">
                                    <div class="row">
                                        <button type="submit" class="bv-hidden-submit" style="display: none; width: 0px; height: 0px;"></button>
                                        <input class="form-control" id="edit_id" asp-for="product.ProductId" type="hidden">
                                        <div class="col-md-12">
                                            <div class="form-group mb-3">
                                                <label>Name</label>
                                                <input class="form-control" id="productName" asp-for="product.Name"  type="text">
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group mb-3">
                                                <label> Category </label>
                                                <select class="form-control category-name" id="categories" asp-for="product.CategoryId" >
                                                    @if (Model.categories != null)
                                                    {
                                                        @foreach (var op in Model.categories)
                                                        {
                                                            <option value="@op.CategoryId">@op.CategoryName</option>
                                                        }
                                                    }


                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group mb-3">
                                                <label> Supplier </label>
                                                <select class="form-control supplier-name" id="supplier" asp-for="product.SupplierId" >
                                                    @if (Model.categories != null)
                                                    {
                                                        @foreach (var s in Model.suppliers)
                                                        {
                                                            <option value="@s.SupplierId">@s.SupplierName</option>
                                                        }
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group mb-3">
                                                <label> Original Price </label>
                                                <input class="form-control" asp-for="product.OriginalPrice" id="oPrice" type="text"  >
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group mb-3">
                                                <label>Sell Out Price</label>
                                                <input class="form-control" asp-for="product.SellOutPrice" id="sPrice" type="text" >
                                            </div>
                                        </div>
                                       
                                        <div class="col-md-6">
                                            <div class="form-group mb-3">
                                                <label>Created Date</label>
                                                <input class="form-control" asp-for="product.CreatedDate" type="date" id="createDate">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group mb-3">
                                                <label>Start Date</label>
                                                <input class="form-control" asp-for="product.StartDate" type="date"  id="startDate">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group mb-3">
                                                <label>End Date</label>
                                                <input class="form-control" asp-for="product.EndDate" type="date" id="endDate">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group mb-3">
                                                <label>Ship Date</label>
                                                <input class="form-control" asp-for="product.Shipdate" type="date"  id="shipDate">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group mb-3">
                                                <label> Status </label>
                                                <select class="form-control" asp-for="product.Status"  id="pStatus">
                                                    <option value="Release">Release</option>
                                                    <option value="Selling">Selling</option>
                                                    <option value="Shipping">Shipping</option>
                                                    <option value="Success">Success</option>
                                                    <option value="Cancel">Cancel</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="mt-4">
                                            <button class="btn btn-primary" name="form_submit" value="submit" type="submit"> Save </button>
                                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="add_modal" aria-hidden="true" role="dialog" >
        <div class="modal-dialog modal-dialog-centered " style="width: 900px ; max-width:100%" role="document">
            <div class="modal-content " >
                <div class="modal-body">
                    <div class="form-content p-2">
                        <div class="modal-header border-0">
                            <h4 class="modal-title">Add Product</h4>
                            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <form method="post" asp-page-handler="Add" asp-page="/Admin/Products/AllProducts" autocomplete="off">
                                   <div class="row">
                                     <button type="submit" class="bv-hidden-submit" style="display: none; width: 0px; height: 0px;"></button>
                                    
                                       <div class="col-md-12">
                                            <div class="form-group mb-3">
                                                <label>Name</label>
                                                <input class="form-control" asp-for="product.Name" type="text">
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group mb-3">
                                                <label> Category </label>
                                                <select class="form-control" asp-for="product.CategoryId">
                                                    @if (Model.categories != null)
                                                    {
                                                        @foreach (var op in Model.categories)
                                                        {
                                                            <option value="@op.CategoryId">@op.CategoryName</option>
                                                        }
                                                    }
                                                    

                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group mb-3">
                                                <label> Supplier </label>
                                                <select class="form-control" asp-for="product.SupplierId">
                                                    @if (Model.categories != null)
                                                    {
                                                        @foreach (var s in Model.suppliers)
                                                        {
                                                            <option value="@s.SupplierId">@s.SupplierName</option>
                                                        }
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group mb-3">
                                                <label> Original Price </label>
                                                <input class="form-control" asp-for="product.OriginalPrice" type="text" >
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group mb-3">
                                                <label>Sell Out Price</label>
                                                <input class="form-control" asp-for="product.SellOutPrice" type="text" >
                                            </div>
                                        </div>
                                         <div class="col-md-6">
                                            <div class="form-group mb-3">
                                                <label>Type</label>
                                                <input class="form-control" asp-for="productDetail.Type" type="text">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group mb-3">
                                                <label>Attribute</label>
                                                <input class="form-control" asp-for="productDetail.Attribute" type="text" >
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group mb-3">
                                                <label>Created Date</label>
                                                <input class="form-control" asp-for="product.CreatedDate" type="date" >
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group mb-3">
                                                <label >Start Date</label>
                                                <input class="form-control" asp-for="product.StartDate" type="date" >
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group mb-3">
                                                <label >End Date</label>
                                                <input class="form-control" asp-for="product.EndDate" type="date" >
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group mb-3">
                                                <label>Ship Date</label>
                                                <input class="form-control" asp-for="product.Shipdate" type="date">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group mb-3">
                                                <label> Status </label>
                                                <select class="form-control" asp-for="product.Status">
                                                    <option value="Release">Release</option>
                                                    <option value="Hold">Hold</option>
                                                </select>
                                            </div>
                                        </div>
                                   
                                        <div class="mt-4">
                                            <button class="btn btn-primary" name="form_submit" value="submit" type="submit"> Save </button>
                                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                                        </div>
                                   </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Get modal and link elements
            var modal = document.getElementById('delete_modal');
            var links = document.querySelectorAll('[data-bs-target="#delete_modal"]');

            // Add event listener for when any of the links is clicked
            links.forEach(function (link) {
                link.addEventListener('click', function () {

                    var id = link.dataset.id;
                    
                    document.getElementById('p_id').value = id;
                   
                });
            });
        });
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Get modal and link elements
            var modal = document.getElementById('restore_modal');
            var links = document.querySelectorAll('[data-bs-target="#restore_modal"]');

            // Add event listener for when any of the links is clicked
            links.forEach(function (link) {
                link.addEventListener('click', function () {

                    var id = link.dataset.reid;

                    document.getElementById('restore_id').value = id;
                    console.log(id);

                });
            });
        });
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Get modal and link elements
            var modal = document.getElementById('edit_modal');
            var links = document.querySelectorAll('[data-bs-target="#edit_modal"]');

            // Add event listener for when any of the links is clicked
            links.forEach(function (link) {
                link.addEventListener('click', function () {
                    // Extract data from the clicked link
                    var productId = link.dataset.id;
                    var Name = link.dataset.name;
                    var orPrice = link.dataset.oprice;
                    var supplier = link.dataset.supp;
                    var Category = link.dataset.cate;
                    var soPrice = link.dataset.sprice;
                    var createDate = link.dataset.create;
                    var startDate = link.dataset.start;
                    var endDate = link.dataset.end;
                    var shipDate = link.dataset.ship;
                    var Status = link.dataset.status;

                    var create = formatDate(createDate);
                    var start = formatDate(startDate);
                    var end = formatDate(endDate);
                    var ship = formatDate(shipDate);

                    function formatDate(d) {
                        var part = d.split(/[\/ :]/);
                        var formaterDate = part[2] + '-' + part[1] + '-' + part[0];
                        return formaterDate;

                    }
                 
                   
                    // Update modal content with the extracted values
                    
                    document.getElementById('edit_id').value = productId;
                    document.getElementById('productName').value = Name;
                    document.getElementById('categories').value = Category;
                    document.getElementById('oPrice').value = orPrice;
                    document.getElementById('sPrice').value = soPrice;
                    document.getElementById('supplier').value = supplier;
                    //modal.querySelector('#imageproduct1').src = productImage;
                    
                    document.getElementById('createDate').value = create;
                    document.getElementById('startDate').value = start;
                    document.getElementById('endDate').value = end;
                    
                    document.getElementById('shipDate').value = ship;
                   
                    document.getElementById('pStatus').value = Status;
                   

                });
            });
        });
    </script>
    <script>
        var maxLength = 50;
        var elements = document.querySelectorAll('.limitedText');
        elements.forEach(function (element) {
            if (element.textContent.length > maxLength) {
                element.textContent = element.textContent.substring(0, maxLength) + '...';
            }

        });
    </script>

    <script>
        var moneys = document.querySelectorAll('.price');
        moneys.forEach(function (money) {
            // Lấy giá trị số từ phần tử HTML
            var amountString = money.textContent.replace(/[^\d,-]/g, ''); // Loại bỏ các ký tự không phải số, dấu phẩy hoặc dấu trừ
            var amount = parseFloat(amountString.replace(',', '.')); // Chuyển đổi dấu phẩy sang dấu chấm cho số dấu phẩy động
            var formattedMoney = amount.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' });
            money.textContent = formattedMoney; // Gán giá trị đã định dạng vào phần tử HTML
           
        });

    </script>
</body>

</html>