@page
@model Dropify.Pages.Admin.ManageCategoris.CategoriesModel

@{
    Layout = "_AdminLayout";
}


<body>
   
   
    <div class="main-wrapper">

        <div class="page-wrapper">
            <div class="content container-fluid">
                <div class="page-header">
                    <div class="row">
                        <div class="col-sm-6">
                            <h3 class="page-title">Management Category</h3>
                        </div>


                    </div>
                </div>

                <div class="col">
                    <a class="btn btn-success" data-bs-toggle="modal" href="#add_modal">
                        <i class="fe fe-plus"></i>
                        New Category
                    </a>
                </div>
                <br />

               
                
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="datatable table table-hover table-center mb-0">
                                        <thead>
                                            <tr>
                                                <th width="100">CategoryID</th>
                                                <th width="300">Name</th>
                                                <th width="300" class="text-center">Status</th>
                                                <th width="300" class="text-center">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.ParentCategories != null)
                                            {
                                                @foreach (var p in Model.ParentCategories)
                                                {

                                                    <tr>
                                                        <td>
                                                            @p.CategoryId
                                                        </td>
                                                        <td>
                                                            <span class="limitedText">@p.CategoryName</span>
                                                        </td>
                                                        
                                                        @if (p.Status != null &&  p.Status.Equals("Active"))
                                                        {
                                                            <td class="text-center">
                                                                <span class="badge badge-pill bg-success inv-badge">@p.Status</span>
                                                            </td>
                                                        }
                                                        @if (p.Status != null &&  p.Status.Equals("Inactive"))
                                                        {
                                                            <td class="text-center">
                                                                <span class="badge badge-pill bg-secondary inv-badge">@p.Status</span>
                                                            </td>
                                                        }
                                                        @if (p.Status == null)
                                                        {
                                                            <td class="text-center">
                                                                <span class="badge badge-pill bg-danger inv-badge">Null</span>
                                                            </td>
                                                        }
                                                       


                                                        <td class="text-center">
                                                            <div class="actions">
                                                                <a class="btn btn-sm bg-success-light" data-bs-toggle="modal" data-id="@p.CategoryId"
                                                                data-name="@p.CategoryName" 
                                                                 data-status="@p.Status" 
                                                                data-bs-target="#edit_modal" href="#edit_modal">
                                                                    <i class="fe fe-pencil"></i> Edit
                                                                </a>
                                                                <a data-bs-toggle="modal" data-bs-target="#delete_modal" href="#delete_modal" data-id="@p.CategoryId" class="btn btn-sm bg-danger-light">
                                                                    <i class="fe fe-trash"></i> Delete
                                                                </a>
                                                                 <a href="/Admin/Categories/CategoryChildren?id=@p.CategoryId" class="btn btn-sm bg-warning-light">
                                                                     <i class="fa fa-eye"></i> More 
                                                                 </a>

                                                            </div>
                                                        </td>
                                                    </tr>

                                                }
                                            }

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="modal fade" id="delete_modal" role="dialog"  aria-hidden="true" >
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content"  >

                <div class="modal-body">
                    <form method="post" asp-page="/Admin/Categories/AllCategories" asp-page-handler="Delete">
                        <div class="form-content p-2">
                            <h4 class="modal-title">Delete</h4>
                            <p class="mb-4">Are you sure want to delete?</p>
                            <button type="submit" id="MyLink" class="btn btn-primary" >Delete </button>
                            <input type="hidden" value="" id="c_id" name="c_id"  />
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                        </div>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="edit_modal" aria-hidden="true" role="dialog">
        <div class="modal-dialog modal-dialog-centered" style="width: 900px ; max-width:100%" role="document">
            <div class="modal-content" >
                <div class="modal-body">
                    <div class="form-content p-2">
                        <div class="modal-header border-0">
                            <h4 class="modal-title">Edit</h4>
                            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <form method="post" asp-page-handler="Edit" asp-page="/Admin/Categories/AllCategories" autocomplete="off">
                                    <div class="row">
                                        <button type="submit" class="bv-hidden-submit" style="display: none; width: 0px; height: 0px;"></button>
                                        <div class="col-md-12">
                                            <div class="form-group mb-3">
                                                <label>CategoryID</label>
                                                <input class="form-control" id="categoryID" asp-for="category.CategoryId" type="text" readonly>
                                            </div>
                                        </div>
                                       
                                        <div class="col-md-12">
                                            <div class="form-group mb-3">
                                                <label>CategoryName</label>
                                                <input class="form-control" id="categoryName" asp-for="category.CategoryName"  type="text">
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group mb-3">
                                                <label> Status </label>
                                                <select class="form-control" asp-for="category.Status"  id="cStatus">
                                                    <option value="Active">Active</option>
                                                    <option value="Inactive">Inactive</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="mt-4">
                                            <button class="btn btn-primary" name="form_submit" value="submit" type="submit"> Save </button>
                                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="add_modal" aria-hidden="true" role="dialog" >
        <div class="modal-dialog modal-dialog-centered " style="width: 900px ; max-width:100%" role="document">
            <div class="modal-content " >
                <div class="modal-body">
                    <div class="form-content p-2">
                        <div class="modal-header border-0">
                            <h4 class="modal-title">Add Category</h4>
                            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <form method="post" asp-page-handler="Add" asp-page="/Admin/Categories/AllCategories" autocomplete="off">
                                   <div class="row">
                                     <button type="submit" class="bv-hidden-submit" style="display: none; width: 0px; height: 0px;"></button>
                                    
                                       <div class="col-md-12">
                                            <div class="form-group mb-3">
                                                <label>Name</label>
                                                <input class="form-control"  asp-for="category.CategoryName" type="text">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group mb-3">
                                                <label> Change Date </label>
                                                <input class="form-control"  asp-for="category.ChangedDate" type="date">
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group mb-3">
                                                <label> Status </label>
                                                <select class="form-control" asp-for="category.Status">
                                                    <option value="Active">Active</option>
                                                    <option value="Inactive">Inactive</option>
                                                </select>
                                            </div>
                                        </div>
                                   
                                        <div class="mt-4">
                                            <button class="btn btn-primary" name="form_submit" value="submit" type="submit"> Save </button>
                                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                                        </div>
                                   </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Get modal and link elements
            var modal = document.getElementById('delete_modal');
            var links = document.querySelectorAll('[data-bs-target="#delete_modal"]');

            // Add event listener for when any of the links is clicked
            links.forEach(function (link) {
                link.addEventListener('click', function () {

                    var id = link.dataset.id;
                    
                    document.getElementById('c_id').value = id;
                   
                });
            });
        });
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Get modal and link elements
            var modal = document.getElementById('edit_modal');
            var links = document.querySelectorAll('[data-bs-target="#edit_modal"]');

            // Add event listener for when any of the links is clicked
            links.forEach(function (link) {
                link.addEventListener('click', function () {
                    
                    var cateId = link.dataset.id;
                    var Name = link.dataset.name;
                    var Status = link.dataset.status;
                    document.getElementById('categoryID').value = cateId;
                    document.getElementById('categoryName').value = Name;
                    document.getElementById('cStatus').value = Status;
                    console.log(cateId);
                    console.log(Name);
                    console.log(Status);
                  
                    

                });
            });
        });
    </script>
    <script>
        var maxLength = 70;
        var elements = document.querySelectorAll('.limitedText');
        elements.forEach(function (element) {
            if (element.textContent.length > maxLength) {
                element.textContent = element.textContent.substring(0, maxLength) + '...';
            }

        });
    </script>
</body>

</html>