@page
@model DashboardModel
@using System.Text.Json;
@using System.Text.Json.Serialization;

@{
    Layout = "_AdminLayout";
}

<body>


    <div class="page-wrapper">
        <div class="content container-fluid">

            <div class="page-header">
                <div class="row">
                    <div class="col-sm-12">
                        <h3 class="page-title">Welcome ADMIN!</h3>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item active">Dashboard</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-3 col-sm-6 col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="dash-widget-header">
                                <span class="dash-widget-icon text-primary border-primary">
                                    <i class="fe fe-users"></i>
                                </span>
                                <div class="dash-count">
                                    <h3>@Model.Users.Count</h3>
                                </div>
                            </div>
                            <div class="dash-widget-info">
                                <h6 class="text-muted">Members</h6>
                                <div class="progress progress-sm">
                                    <div class="progress-bar bg-primary w-50"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="dash-widget-header">
                                <span class="dash-widget-icon text-success">
                                    <i class="fe fe-credit-card"></i>
                                </span>
                                <div class="dash-count">
                                    <h3>@Model.Order.Count</h3>
                                </div>
                            </div>
                            <div class="dash-widget-info">
                                <h6 class="text-muted">Order</h6>
                                <div class="progress progress-sm">
                                    <div class="progress-bar bg-success w-50"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="dash-widget-header">
                                <span class="dash-widget-icon text-danger border-danger">
                                    <i class="fa fa-money"></i>
                                </span>
                                <div class="dash-count">
                                    @{
                                        var profit = (Model.Revenue - Model.Profit);
                                    }
                                    <h3 class="price">@profit</h3>
                                </div>
                            </div>
                            <div class="dash-widget-info">
                                <h6 class="text-muted">Profit</h6>
                                <div class="progress progress-sm">
                                    <div class="progress-bar bg-danger w-50"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="dash-widget-header">
                                <span class="dash-widget-icon text-warning border-warning">
                                    <i class="fe fe-folder"></i>
                                </span>
                                <div class="dash-count">
                                    <h3 class="price">@Model.Revenue</h3>
                                </div>
                            </div>
                            <div class="dash-widget-info">
                                <h6 class="text-muted">Revenue</h6>
                                <div class="progress progress-sm">
                                    <div class="progress-bar bg-warning w-50"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-lg-6">

                    <div class="card card-chart">
                        <div class="card-header">
                            <h4 class="card-title">Revenue</h4>
                        </div>
                       @*  <div id="chartContainer" style="height: 300px; width: 100%;"></div> *@
                        <canvas id="myChart" width="400" height="200"></canvas>

                    </div>

                </div>
                <div class="col-md-12 col-lg-6">

                    <div class="card card-chart">
                        <div class="card-header">
                            <h4 class="card-title">Order</h4>
                        </div>
                       

                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-6 d-flex">

                    <div class="card card-table flex-fill">
                        <div class="card-header">
                            <h4 class="card-title">New Member</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-hover table-center mb-0">
                                    <thead>
                                        <tr>

                                            <th>Name</th>
                                            <th>Phone</th>
                                            <th>Email</th>
                                            <th>Dob</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.listUdetail != null)
                                        {
                                            @foreach (var ud in Model.listUdetail)
                                            {
                                                <tr>
                                                    <td>
                                                        <h2 class="table-avatar">
                                                            <a href="" class="avatar avatar-sm me-2">
                                                                <img class="avatar-img rounded-circle"
                                                                     src="@ud.ImgUrl"
                                                                     alt="User Image">
                                                            </a>
                                                            <a href="profile.html">@ud.Name</a>
                                                        </h2>
                                                    </td>
                                                    <td>@ud.PhoneNumber</td>
                                                    <td>@ud.UidNavigation.Email</td>

                                                    @{
                                                        DateTime dob = ud.Dob;
                                                        string formattedDate = dob.ToString("dd/MM/yyyy");

                                                    }
                                                    <td>
                                                        @formattedDate
                                                    </td>
                                                </tr>
                                            }
                                        }


                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-6 d-flex">

                    <div class="card  card-table flex-fill">
                        <div class="card-header">
                            <h4 class="card-title">New order</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-hover table-center mb-0">
                                    <thead>
                                        <tr>
                                            <th>Customer</th>
                                            <th>Order Date</th>
                                            <th>Address</th>
                                            <th class="text-center">Order Price</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.Order != null)
                                        {
                                            @foreach (var o in Model.Order)
                                            {

                                                <tr>

                                                    <td>
                                                        <h2 class="table-avatar">
                                                            <a href="/Order/OrderDetail?id=@o.OrderId" class="avatar avatar-sm me-2">
                                                                <img class="avatar-img rounded-circle"
                                                                     src="@o.Ud.ImgUrl"
                                                                     alt="User Image">
                                                            </a>
                                                            <a href="/Order/OrderDetail?id=@o.OrderId">@o.Ud.Name</a>
                                                        </h2>

                                                    </td>
                                                    @{
                                                        DateTime orderdate = o.OrderedDate;
                                                        string order = orderdate.ToString("dd/MM/yyyy");

                                                    }
                                                    <td>
                                                        @order
                                                    </td>
                                                    <td>@o.Address.Address</td>
                                                    <td class="price text-center">@o.OrderedPrice</td>
                                                </tr>
                                            }

                                        }


                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
    <script>
        var moneys = document.querySelectorAll('.price');
        moneys.forEach(function (money) {
            // Lấy giá trị số từ phần tử HTML
            var amountString = money.textContent.replace(/[^\d,-]/g, ''); // Loại bỏ các ký tự không phải số, dấu phẩy hoặc dấu trừ
            var amount = parseFloat(amountString.replace(',', '.')); // Chuyển đổi dấu phẩy sang dấu chấm cho số dấu phẩy động
            var formattedMoney = amount.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' });
            money.textContent = formattedMoney; // Gán giá trị đã định dạng vào phần tử HTML

        });

    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>
    
</body>
