@page
@model Dropify.Pages.Profile.OrderDetailModel
@{
    Layout = "_ProfileLayout";
}
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="page-title">Order Detail</h3>
                <div class="col">
                    <a href="/Profile/Orders" class="btn btn-success">
                        <i class="fas fa-arrow-left"></i>
                        Back
                    </a>
                </div>
            <div class="row">
                <div class="col-md-12">
                    @if (Model.OrderDetails.Count == 0)
                    {
                        <h1>Không có đơn hàng nào !!</h1>
                    }
                    @if (Model.OrderDetails != null)
                    {
                        @foreach (var o in Model.OrderDetails)
                        {

                            if (o.OrderDetailParent == null)
                            {
                                <div class="profile-header">
                                    <div class="row align-items-center">
                                        <div class="col-auto profile-image">
                                            <a href="#">
                                                <img class="img-thumbnail" alt="User Image"
                                                     src="@o.Product.ProductThumbnailImage" style="height: 150px">
                                            </a>
                                        </div>
                                        <div class="col ms-md-n2 profile-user-info">
                                            <h4 class="user-name mb-0">@o.Product.Name</h4>
                                            <br />
                                            <div class="pb-2">
                                                Type:
                                                @foreach (var od in Model.OrderDetails)
                                                {

                                                    if (od.OrderDetailParent == o.OrderDetailId)
                                                    {
                                                        <span>@od.Attribute ;</span>
                                                    }
                                                }
                                            </div>
                                            <div class="pb-3"><i class="fa fa-map-marker"></i> @Model.order.Address.Address</div>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="profile-header">
                                    <div class="row align-items-center">
                                        <div class="col ms-md-n2 profile-user-info">
                                            <h4 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif" class="price mb-0 text-danger">Price: @o.OrderedPrice</h4>
                                        </div>
                                    </div>
                                </div>
                                <br />
                            }
                        }
                    }

                </div>
            </div>
                </div>
            </div>
        </div>

        

        


    
    

<script>
    var moneys = document.querySelectorAll('.price');
    moneys.forEach(function (money) {
        // Lấy giá trị số từ phần tử HTML
        var amountString = money.textContent.replace(/[^\d.-]/g, ''); // Loại bỏ các ký tự không phải số, dấu phẩy hoặc dấu trừ
        var amount = parseFloat(amountString); // Chuyển đổi chuỗi thành số

        // Định dạng số tiền dưới dạng chuỗi theo mong muốn
        var formattedMoney = amount.toLocaleString('vi-VN', { minimumFractionDigits: 0, maximumFractionDigits: 0 });

        // Thêm đơn vị tiền tệ nếu cần
        formattedMoney += ' VND';

        // Gán giá trị đã định dạng vào phần tử HTML
        money.textContent = formattedMoney;
    });
</script>
<script src="/assets/js/jquery-3.6.0.min.js"></script>

<script src="/assets/js/bootstrap.bundle.min.js"></script>

<script src="/assets/js/feather.min.js"></script>

<script src="/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>

<script src="/assets/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/assets/plugins/datatables/datatables.min.js"></script>

<script src="/assets/js/script.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>