@page
@model Dropify.Pages.Profile.OrdersModel
@{
    Layout = "_ProfileLayout";
}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>Mentoring - Categories Page</title>

    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.png">

    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/feathericon.min.css">
    <link rel="stylesheet" href="/assets/plugins/datatables/datatables.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/assets/plugins/slick/slick.css">
    <link rel="stylesheet" href="/assets/plugins/slick/slick-theme.css">
    <link rel="stylesheet" href="/assets/plugins/aos/aos.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

    <div class="page-header">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="page-title">Order</h3>
                <div class="card">
                    <div class="card-body">
                        <ul class="nav nav-tabs nav-tabs-bottom nav-justified">
                            <li class="nav-item">
                                <a class="nav-link active"
                                   href="#bottom-justified-tab" data-bs-toggle="tab">Ordered</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#bottom-justified-tab1"
                                   data-bs-toggle="tab">Success</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#bottom-justified-tab2"
                                   data-bs-toggle="tab">Canceled</a>
                            </li>


                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane show active" id="bottom-justified-tab">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="table-responsive">
                                                <table class="table table-hover mb-0">
                                                        <thead>
                                                            <tr>
                                                            <th width="auto">ID</th>
                                                            <th width="150">Person</th>
                                                            <th width="100">Date</th>
                                                            <th width="100">Price</th>
                                                            
                                                            <th width="auto">Address</th>
                                                            <th width="130">Ship Status</th>
                                                            <th class="text-end">Action</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @if (Model.OderedOrders != null)
                                                            {
                                                                @foreach (var o in Model.OderedOrders)
                                                                {
                                                                    <tr>
                                                                        <td>
                                                                            @o.OrderId
                                                                        </td>
                                                                       
                                                                        <td>
                                                                            @o.Ud.Name
                                                                        </td>
                                                                        <td>
                                                                            @o.OrderedDate
                                                                        </td>
                                                                        <td>
                                                                            <span class="price" style="font-weight:normal; font-size:medium">@o.OrderedPrice</span>
                                                                        </td>
                                                                        
                                                                        <td>
                                                                            @o.Address.Address
                                                                        </td>
                                                                        <td>
                                                                            @o.ShipStatus
                                                                        </td>
                                                                        

                                                                        <td class="text-end">
                                                                            <div class="actions">
                                                                                <a href="OrderDetail?OrderId=@o.OrderId" class="btn btn-sm bg-warning-light">
                                                                                <i class="fa fa-eye"></i>Detail
                                                                                </a>
                                                                                <a data-bs-toggle="modal" data-bs-target="#delete_modal" href="#delete_modal" data-id="@o.OrderId" class="btn btn-sm bg-danger-light">
                                                                                    <i class="fe fe-trash"></i> Cancel
                                                                                </a>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                }
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="bottom-justified-tab1">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="table-responsive">
                                                    <table class=" table table-hover mb-0">
                                                        <thead>
                                                            <tr>
                                                            <th width="auto">ID</th>
                                                            <th width="150">Person</th>
                                                            <th width="100">Date</th>
                                                            <th width="100">Price</th>
                                                            
                                                            <th width="auto">Address</th>
                                                            <th width="130">Ship Status</th>
                                                            <th class="text-end">Action</th>

                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @if (Model.SuccessOrders != null)
                                                            {
                                                                @foreach (var o in Model.SuccessOrders)
                                                                {

                                                                    <tr>
                                                                        <td>
                                                                            @o.OrderId
                                                                        </td>
                                                                        
                                                                        <td>
                                                                            @o.Ud.Name
                                                                        </td>
                                                                        <td>
                                                                            @o.OrderedDate

                                                                        </td>

                                                                        <td>
                                                                            <span class="price" style="font-weight:normal; font-size:medium">@o.OrderedPrice</span>
                                                                        </td>
                                                                        
                                                                        <td>
                                                                            @o.Address.Address
                                                                        </td>

                                                                        <td>
                                                                            @o.ShipStatus
                                                                        </td>
                                                                        <td class="text-end">
                                                                            <div class="actions">
                                                                                <a href="OrderDetail?OrderId=@o.OrderId" class="btn btn-sm bg-warning-light">
                                                                                    <i class="fa fa-eye"></i>Detail
                                                                                </a>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                }
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="bottom-justified-tab2">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="table-responsive">
                                                    <table class="  table table-hover mb-0">
                                                        <thead>
                                                            <tr>
                                                            <th width="auto">ID</th>
                                                            <th width="150">Person</th>
                                                            <th width="100">Date</th>
                                                            <th width="100">Price</th>
                                                            
                                                            <th width="auto">Address</th>
                                                            <th width="130">Ship Status</th>
                                                            <th class="text-end">Action</th>

                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @if (Model.CanceledOrders != null)
                                                            {
                                                                @foreach (var o in Model.CanceledOrders)
                                                                {

                                                                    <tr>
                                                                        <td>
                                                                            @o.OrderId
                                                                        </td>
                                                                        
                                                                        <td>
                                                                            @o.Ud.Name
                                                                        </td>
                                                                        <td>
                                                                            @o.OrderedDate

                                                                        </td>

                                                                        <td>
                                                                            <span class="price" style="font-weight:normal; font-size:medium">@o.OrderedPrice</span>
                                                                        </td>
                                                                        
                                                                        <td>
                                                                            @o.Address.Address
                                                                        </td>

                                                                        <td>
                                                                            @o.ShipStatus
                                                                        </td>
                                                                        <td class="text-end">
                                                                            <div class="actions">
                                                                                <a href="OrderDetail?OrderId=@o.OrderId" class="btn btn-sm bg-warning-light">
                                                                                    <i class="fa fa-eye"></i>Detail
                                                                                </a>
                                                                            </div>
                                                                        </td>

                                                                        </tr>
                                                                }
                                                            }

                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="delete_modal" role="" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">

                <div class="modal-body">
                    <form method="post" asp-page="/Profile/Orders" asp-page-handler="Delete">
                        <div class="form-content p-2">
                            <h4 class="modal-title">Delete</h4>
                            <p class="mb-4">Are you sure want to delete?</p>
                            <button type="submit" id="MyLink" class="btn btn-primary">Delete </button>
                            <input type="hidden" value="" id="o_id" name="o_id" />
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

     
            
            
        


    

@* <div class="modal fade" id="restore_modal" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-body">
                <form method="post" asp-page="/Profile/Orders" asp-page-handler="Restore">
                    <div class="form-content p-2">
                        <h4 class="modal-title text-center">Restore</h4>
                        <p class="mb-4 text-center">Are you sure want to Restore?</p>
                        <div class="d-flex me-1 justify-content-center">
                            <button type="submit" id="MyLink" class="btn btn-primary" style="margin-right:6px ;width:75px ;"> Restore </button>
                            <input type="hidden" value="" id="restore_id" name="restore_id" />
                            <button type="button" class="btn btn-danger" style="width : 75px;" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div> *@




<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Get modal and link elements
        var modal = document.getElementById('delete_modal');
        var links = document.querySelectorAll('[data-bs-target="#delete_modal"]');

        // Add event listener for when any of the links is clicked
        links.forEach(function (link) {
            link.addEventListener('click', function () {

                var id = link.dataset.id;

                document.getElementById('o_id').value = id;

            });
        });
    });
</script>
@* <script>
    document.addEventListener('DOMContentLoaded', function () {
        // Get modal and link elements
        var modal = document.getElementById('restore_modal');
        var links = document.querySelectorAll('[data-bs-target="#restore_modal"]');

        // Add event listener for when any of the links is clicked
        links.forEach(function (link) {
            link.addEventListener('click', function () {

                var id = link.dataset.reid;

                document.getElementById('restore_id').value = id;
                console.log(id);

            });
        });
    });
</script> *@

@* <script>
    var maxLength = 70;
    var elements = document.querySelectorAll('.limitedText');
    elements.forEach(function (element) {
        if (element.textContent.length > maxLength) {
            element.textContent = element.textContent.substring(0, maxLength) + '...';
        }

    });
</script> *@

<script>
    var moneys = document.querySelectorAll('.price');
    moneys.forEach(function (money) {
        // Lấy giá trị số từ phần tử HTML
        var amountString = money.textContent.replace(/[^\d.-]/g, ''); // Loại bỏ các ký tự không phải số, dấu phẩy hoặc dấu trừ
        var amount = parseFloat(amountString); // Chuyển đổi chuỗi thành số

        // Định dạng số tiền dưới dạng chuỗi theo mong muốn
        var formattedMoney = amount.toLocaleString('vi-VN', { minimumFractionDigits: 0, maximumFractionDigits: 0 });

        // Thêm đơn vị tiền tệ nếu cần
        formattedMoney += ' VND';

        // Gán giá trị đã định dạng vào phần tử HTML
        money.textContent = formattedMoney;
    });
</script>

<script src="/assets/js/jquery-3.6.0.min.js"></script>

<script src="/assets/js/bootstrap.bundle.min.js"></script>

<script src="/assets/js/feather.min.js"></script>

<script src="/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>

<script src="/assets/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/assets/plugins/datatables/datatables.min.js"></script>

<script src="/assets/js/owl.carousel.min.js"></script>

<script src="/assets/plugins/slick/slick.js"></script>

<script src="/assets/plugins/aos/aos.js"></script>

<script src="/assets/js/script.js"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>


