@page
@model Dropify.Pages.Admin.New.AllNewsModel
@{
    Layout = "_AdminLayout";
}



    <div class="main-wrapper">

        <div class="page-wrapper">
            <div class="content container-fluid">

                <div class="page-header">
                    <div class="row">
                        <div class="col-sm-12">
                            <h3 class="page-title">All News</h3>
                        </div>
                    </div>
                </div>
            <div class="col">
                <a href="/Admin/New/AddNew" class="btn btn-success">
                    <i class="fe fe-plus"></i>
                   ADD NEWS
                </a>
            </div>

            <br />

                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-body">

                            <div class="row">
                                @foreach (var item in Model.NewsList)
                                {
                                    <div class="col-12 col-md-6 col-xl-4">
                                        <div class="course-box blog grid-blog">
                                            <div class="blog-image mb-0">
                                                <a href="#">
                                                    <img class="img-fluid" src="@item.ImgUrl" alt="Post Image">
                                                </a>
                                            </div>
                                            <div class="course-content">
                                                <span class="date">
                                                    @item.CreatedDate
                                                </span>
                                                <span class="course-title">
                                                    New issue number @item.NewsId
                                                </span>
                                                <p>
                                                    @{
                                                        var maxLength = 150; 
                                                        string? content = item.NewsContents;
                                                        @if(content != null)
                                                        {
                                                            if (content.Length > maxLength)
                                                            {
                                                                content = content.Substring(0, maxLength) + "...";
                                                                <div class="short-content">
                                                                    @Html.Raw(content)
                                                                </div>
                                                                <div class="full-content" style="display:none;">
                                                                    @Html.Raw(item.NewsContents)
                                                                </div>
                                                                <a href="#" class="see-more-link">See more...</a>
                                                            }
                                                            else
                                                            {
                                                                <div class="full-content">
                                                                    @Html.Raw(item.NewsContents)
                                                                </div>

                                                            }
                                                        }
                                                        else
                                                        {

                                                            <div class="full-content">
                                                                @Html.Raw(item.NewsContents)
                                                            </div>
                                                            
                                                        }

                                                       
                                                    }
                                                   
                                                </p>
                                               
                                                <div class="row">
                                                    <div class="col">
                                                        <a asp-page="EditNew" asp-route-id="@item.NewsId" class="text-success">
                                                            <i class="far fa-edit"></i> Edit
                                                        </a>
                                                    </div>
                                                    <div class="col text-end">
                                                        <a asp-page-handler="Delete" class="text-danger">
                                                            <i class="far fa-trash-alt"></i> Inactive
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>

                          @*   <script>
                                document.querySelectorAll('.see-more-link').forEach(function (link) {
                                    link.addEventListener('click', function (event) {
                                        event.preventDefault();
                                        var contentContainer = this.parentElement.nextElementSibling;
                                        contentContainer.style.display = 'block';
                                        this.style.display = 'none';
                                    });
                                });
                            </script> *@
                           @*  <script>
                                document.querySelectorAll('.see-more-link').forEach(function (link) {
                                    link.addEventListener('click', function (event) {
                                        event.preventDefault();
                                        var contentContainer = this.parentElement.querySelector('.full-content');
                                        contentContainer.style.display = 'block';
                                        this.style.display = 'none';
                                    });
                                });
                            </script> *@
                            <script>
                                document.querySelectorAll('.see-more-link').forEach(function (link) {
                                    link.addEventListener('click', function (event) {
                                        event.preventDefault();
                                        var contentContainer = this.parentElement.querySelector('.full-content');
                                        var shortContentContainer = this.parentElement.querySelector('.short-content');
                                        if (contentContainer.style.display === 'none') {
                                            contentContainer.style.display = 'block';
                                            shortContentContainer.style.display = 'none';
                                            this.textContent = 'See less';
                                        } else {
                                            contentContainer.style.display = 'none';
                                            shortContentContainer.style.display = 'block';
                                            this.textContent = 'See more...';
                                        }
                                    });
                                });
                            </script>
                           



                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
