@page
@model Dropify.Pages.CartModel
@{
}
<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from mentoring.dreamguystech.com/html/template/checkout.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 14 May 2023 10:32:23 GMT -->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.png">

    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">

    <link rel="stylesheet" href="/assets/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="/assets/plugins/fontawesome/css/all.min.css">

    <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>

    <div class="main-wrapper">

        <div class="breadcrumb-bar">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-md-12 col-12">
                        <nav aria-label="breadcrumb" class="page-breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                            </ol>
                        </nav>
                        <h2 class="breadcrumb-title">Cart</h2>
                    </div>
                </div>
            </div>
        </div>
        
        <form asp-page="/Cart" asp-page-handler="Remove"><button type="submit">Remove cookie </button></form>
        @{
            static string ConvertToVND(double number)
            {
                string[] parts = number.ToString().Split('.');
                string formattedBeforeDecimal = string.Format("{0:n0}", Convert.ToInt64(parts[0]));
                string result = formattedBeforeDecimal + (parts.Length > 1 ? "." + parts[1] : "");
                return result + " VND";
            }
        }
        <form form asp-page="/Cart" asp-page-handler="Add">
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-7 col-lg-8">
                        <div class="card">
                            <div class="card-body">
                                

                                    <div class="info-widget">
                                        <h4 class="card-title">Cart List</h4>
                                        <div class="row">
                                            <div class="card card-table">
                                                <div class="card-body">

                                                    <div class="table-responsive">
                                                        <table class="table table-hover table-center mb-0">
                                                            <thead>
                                                                <tr>
                                                                    <th></th>
                                                                    <th>Product</th>
                                                                    <th>Amount</th>
                                                                    <th>Price</th>
                                                                    <th></th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @foreach (var coc in Model.productCartList)
                                                                {
                                                                    <tr>
                                                                        <td>
                                                                            <input type="checkbox" name="SelectedItems" value="@coc.CartId" id="@coc.CartId"></input>
                                                                        </td>
                                                                        <td>
                                                                            <h2 class="table-avatar">
                                                                                <a href="/Product/ProductDetail?productId=@coc.ProductId" class="avatar avatar-sm me-2">
                                                                                    <img class="avatar-img"
                                                                                         src="@coc.ProductImage" alt="Product Image">
                                                                                </a>
                                                                                <a href="/Product/ProductDetail?productId=@coc.ProductId">@coc.ProductName<span>@coc.ProductSizeDetail, @coc.ProductColorDetail, @coc.ProductOptionsDetail</span></a>
                                                                            </h2>
                                                                        </td>
                                                                        <td>@coc.ProductQuantity</td>
                                                                        <td>@ConvertToVND(Convert.ToDouble(coc.ProductPrice*coc.ProductQuantity))</td>
                                                                        <td class="text-end">
                                                                            <div class="table-action">
                                                                                <a href="javascript:void(0);"
                                                                                   class="btn btn-danger">
                                                                                    <i class="fa fa-trash"></i> Delete
                                                                                </a>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                }
                                                            </tbody>
                                                        </table>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="terms-accept">
                                        <div class="custom-checkbox">
                                            <input type="checkbox" id="terms_accept">
                                            <label for="terms_accept">
                                                I have read and accepted <a href="#">
                                                    Terms
                                                    &amp; Conditions
                                                </a>
                                            </label>
                                        </div>
                                    </div>


                                    <div class="submit-section mt-4">
                                        <button type="submit" class="btn btn-primary submit-btn">
                                            Confirm and
                                            Pay
                                        </button>
                                    </div>
                                

                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 col-lg-4 theiaStickySidebar">

                        <div class="card booking-card">
                            <div class="card-header">
                                <h4 class="card-title">Checkout Summary</h4>
                            </div>
                            <div class="card-body">

                                <div class="booking-user-info">
                                    <a href="profile.html" class="booking-user-img">
                                        <img src="/assets/img/user/user2.jpg" alt="User Image">
                                    </a>
                                    <div class="booking-info">
                                        <h4><a href="profile.html">Quang Minh</a></h4>

                                        <div>
                                            <p class="user-location">   
                                            <select class="form-select" name="uad-form" id="uad-form">
                                                @foreach(var item in Model.uad){
                                                    if (item.Default == true)
                                                    {
                                                        <option value="@item.AddressId" selected>@item.Address</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@item.AddressId">@item.Address</option>
                                                    }
                                            }
                                            </select>
                                            </p>
                                            </div>
                                    </div>
                                </div>

                                <div class="booking-summary">
                                    <div class="booking-item-wrap">
                                        <ul class="booking-date">
                                            <li>Date <span id="daynow">--</span></li>
                                            <li>Time <span id="timenow">--</span></li>
                                        </ul>
                                        <ul class="booking-fee">
                                            <li>Product Fee <span id="totalprice1">0</span></li>
                                        </ul>
                                        <div class="booking-total">
                                            <ul class="booking-total-list">
                                                <li>
                                                    <span>Total</span>
                                                    <span class="total-cost" id="totalprice2">0</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        </form>

        <footer class="footer">

            <div class="footer-top">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-3 col-md-6">

                            <div class="footer-widget footer-about">
                                <div class="footer-logo">
                                    <img src="/assets/img/logo.png" alt="logo">
                                </div>
                                <div class="footer-about-content">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua.
                                    </p>
                                    <div class="social-icon">
                                        <ul>
                                            <li>
                                                <a href="#" target="_blank"><i class="fab fa-facebook-f"></i> </a>
                                            </li>
                                            <li>
                                                <a href="#" target="_blank"><i class="fab fa-twitter"></i> </a>
                                            </li>
                                            <li>
                                                <a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                                            </li>
                                            <li>
                                                <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
                                            </li>
                                            <li>
                                                <a href="#" target="_blank"><i class="fab fa-dribbble"></i> </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-3 col-md-6">

                            <div class="footer-widget footer-menu">
                                <h2 class="footer-title">For Mentee</h2>
                                <ul>
                                    <li><a href="search.html">Search Mentors</a></li>
                                    <li><a href="login.html">Login</a></li>
                                    <li><a href="register.html">Register</a></li>
                                    <li><a href="booking.html">Booking</a></li>
                                    <li><a href="dashboard-mentee.html">Mentee Dashboard</a></li>
                                </ul>
                            </div>

                        </div>
                        <div class="col-lg-3 col-md-6">

                            <div class="footer-widget footer-menu">
                                <h2 class="footer-title">For Mentors</h2>
                                <ul>
                                    <li><a href="appointments.html">Appointments</a></li>
                                    <li><a href="chat.html">Chat</a></li>
                                    <li><a href="login.html">Login</a></li>
                                    <li><a href="register.html">Register</a></li>
                                    <li><a href="dashboard.html">Mentor Dashboard</a></li>
                                </ul>
                            </div>

                        </div>
                        <div class="col-lg-3 col-md-6">

                            <div class="footer-widget footer-contact">
                                <h2 class="footer-title">Contact Us</h2>
                                <div class="footer-contact-info">
                                    <div class="footer-address">
                                        <span><i class="fas fa-map-marker-alt"></i></span>
                                        <p> 3556 Beech Street, San Francisco,<br> California, CA 94108 </p>
                                    </div>
                                    <p>
                                        <i class="fas fa-phone-alt"></i>
                                        +1 315 369 5943
                                    </p>
                                    <p class="mb-0">
                                        <i class="fas fa-envelope"></i>
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>


            <div class="footer-bottom">
                <div class="container-fluid">

                    <div class="copyright">
                        <div class="row">
                            <div class="col-12 text-center">
                                <div class="copyright-text">
                                    <p class="mb-0">&copy; 2020 Mentoring. All rights reserved.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </footer>

    </div>


    <script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="/assets/js/jquery-3.6.0.min.js"></script>

    <script src="/assets/js/bootstrap.bundle.min.js"></script>

    <script src="/assets/plugins/theia-sticky-sidebar/ResizeSensor.js"></script>
    <script src="/assets/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js"></script>

    <script src="/assets/js/script.js"></script>
    <script>
        document.querySelectorAll('input[type="checkbox"]').forEach(checkbox => {
            checkbox.addEventListener('click', () => {
                var totalPrice = 0;
                var cartCookie = @Html.Raw(Json.Serialize(Model.jsonCart));
                if (cartCookie) {
                    var cookieData = JSON.parse(cartCookie);
                    if (Array.isArray(cookieData)) {
                        const selectedCartIds = [];
                        document.querySelectorAll('input[type="checkbox"]:checked').forEach(selectedCheckbox => {
                            selectedCartIds.push(parseInt(selectedCheckbox.id)); // Parse the ID to an integer
                        });
                        cookieData.forEach(cartItem => {
                            if (selectedCartIds.includes(cartItem.CartId)) { // Use includes() to check if the ID exists in the array
                                totalPrice += cartItem.ProductPrice * cartItem.ProductQuantity;
                            }
                        }); console.log("cookie = " + cookieData);
                    }
                    document.getElementById('daynow').textContent = new Date().toDateString();
                    document.getElementById('timenow').textContent = new Date().toLocaleTimeString();
                    document.getElementById('totalprice1').textContent = totalPrice.toLocaleString('it-IT', { style: 'currency', currency: 'VND' });;
                    document.getElementById('totalprice2').textContent = totalPrice.toLocaleString('it-IT', { style: 'currency', currency: 'VND' });;
                }
            });
        });

    </script>
</body>

<!-- Mirrored from mentoring.dreamguystech.com/html/template/checkout.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 14 May 2023 10:32:23 GMT -->

</html>