@page "/"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    
}

<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from mentoring.dreamguystech.com/html/template/index-three.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 14 May 2023 10:30:20 GMT -->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>Homepage</title>
    <link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/css/owl.theme.default.min.css">

    <link rel="stylesheet" href="/assets/plugins/slick/slick.css">
    <link rel="stylesheet" href="/assets/plugins/slick/slick-theme.css">

    <link rel="stylesheet" href="/assets/plugins/aos/aos.css">

    
</head>

</main>
    </div>
    <div class="main-wrapper">
        <div class="row">
        <section class="home-slide-two home-slide-search d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="home-slide-face aos" data-aos="fade-up">
                            <div class="hometwo-slide-text">
                                <a href="#" class="btn bg-stop-learn">Start Your Journey Now</a>
                                <h1>Build Your Business <br>with Dropshipping</h1>
                                <p>Take control of your future by starting your online shopping today</p>
                            </div>
                            
                        </div>
                        
                    </div>

                    <div class="col-md-6"> 
                        <div class="object-slide-img aos " data-aos="fade-up">
                            <img src="/assets/img/path-img6.jpg" alt>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        @{
            static string ConvertToVND(double number)
            {
                string[] parts = number.ToString().Split('.');
                string formattedBeforeDecimal = string.Format("{0:n0}", Convert.ToInt64(parts[0]));
                string result = formattedBeforeDecimal + (parts.Length > 1 ? "." + parts[1] : "");
                return result + " VND";
            }
        }

        <section class="section trending-courses trending-courses-two">
            <div class="container">
                <div class="section-top-head">
                    <div class="section-header aos " data-aos="fade-up">
                        <h2>Most Trending Products</h2>
                        <p class="sub-title">
                            Explore the latest and hottest products that everyone is talking about. 
                            Whether it's cutting-edge electronics or innovative gadgets,
                            discover what's trending and stay ahead of the curve in today's dynamic market. 
                        </p>
                    </div>

                    <div class="section-btn align-items-center aos " data-aos="fade-up">
                        <a href="/Product/AllProduct" class="btn btn-primary">View All</a>
                    </div>
                </div>
                <div class="course-two-all aos " data-aos="fade-up">
                    <div class="row">
                        @foreach(var item in Model.ListProducts)
                        {
                            <div class="col-lg-4 col-md-6">
                                <div class="course-box">
                                    <div class="product">
                                        <div class="product-img">
                                            <a href="/Product/ProductDetail?productId=@item.ProductId">
                                                <img class="img-fluid" alt src="@item.ProductThumbnailImage" width="600"
                                                     height="300">
                                            </a>
                                        </div>
                                        <div class="product-content">
                                            <div class="course-info d-flex align-items-center">
                                                <div class="rating rating-star">
                                                    <span class="d-inline-block average-rating rate-point ">
                                                    </span>
                                                </div>
                                                
                                            </div>
                                            <h3 class="title">
                                                @item.Name
                                            </h3>
                                            <div class="rating rating-star rating-two align-items-center">
                                                <div class="price">
                                                    <h4>
                                                        <span style="color: red ; font-weight: 500">@ConvertToVND(Convert.ToDouble(item.SellOutPrice / 100 * 115))</span>
                                                    </h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </section>


        <section class="rating-instructor same-dots">
            <div class="container">
                <div class="section-top-head">
                    <div class="section-header aos " data-aos="fade-up">
                        <h2>All suppliers</h2>
                        <p class="sub-title">
                            Discover our suppliers
                    </div>
                    
                </div>
                <div class="owl-carousel mentoring-course  rating-instructor-slide owl-theme aos " data-aos="fade-up">
                @foreach (var item in Model.suppliers)
                {
                    <div class="large-team" style="background-color:antiquewhite">
                            <div class="team-name">
                            <h4>
                                <a href="#">@item.SupplierName</a>
                            </h4>
                            <span class="designation">@item.ContactEmail</span>
                        </div>
                    </div>
                }
                </div>
            </div>
        </section>


        <section class="trending-courses trending-courses-two popular-course-two same-dots ">
            <div class="container">
                <div class="section-top-head">
                    <div class="section-header aos " data-aos="fade-up">
                        <h2>News</h2>
                        <p class="sub-title">
                            The lastest news
                        </p>
                    </div>
                    <div class="section-btn align-items-center aos " data-aos="fade-up">
                        <a href="News" class="btn btn-primary">View All</a>
                    </div>
                </div>
                <div class="owl-carousel popular-course-slide-two owl-theme aos " data-aos="fade-up">
                    
                @foreach(var n in Model.ListNews)
                {
                    <div class="course-box">
                        <div class="product">
                            <div class="product-img">
                                <a href="/News?NewsId=@n.NewsId">
                                    <img class="img-fluid" alt src="@n.ImgUrl" width="600" height="300">
                                </a>
                            </div>
                            <div class="product-content">
                                <h3 class="title">
                                    <a href="/News?NewsId=@n.NewsId">@n.NewsContents.Substring(0, Math.Min(n.NewsContents.Length, 100))@(n.NewsContents.Length > 100 ? "..." : "")</a>
                                    </h3>

                            </div>
                        </div>
                    </div>
                }
            </div>
        </section>

        <section class="testimonial-two">
            <div class="container">
                <div class="section-header text-center aos " data-aos="fade-up">
                    <h2>Here is what our Clients are saying About us</h2>
                </div>
                <div class=" slider say-about slider-for aos " data-aos="fade-up">
                    <div>
                        <div class="testimonial-all d-flex justify-content-center">
                            <div class="testimonial-two-head text-center">
                                <h3>It was a very good experience </h3>
                                <p>
                                    This is the best website I have ever seen.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="testimonial-all d-flex justify-content-center">
                            <div class="testimonial-two-head text-center">
                                <h3>It was a very good experience </h3>
                                <p>
                                    This is the best website I have ever seen
                                </p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="testimonial-all d-flex justify-content-center">
                            <div class="testimonial-two-head text-center">
                                <h3>It was a very good experience </h3>
                                <p>
                                    This is the best website I have ever seen.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="testimonial-all d-flex justify-content-center">
                            <div class="testimonial-two-head text-center">
                                <h3>It was a very good experience </h3>
                                <p>
                                    This is the best website I have ever seen.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="testimonial-all d-flex justify-content-center">
                            <div class="testimonial-two-head text-center">
                                <h3>It was a very good experience </h3>
                                <p>
                                    This is the best website I have ever seen.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="testimonial-all d-flex justify-content-center">
                            <div class="testimonial-two-head text-center">
                                <h3>It was a very good experience </h3>
                                <p>
                                    This is the best website I have ever seen.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" slider client-img slider-nav aos " data-aos="fade-up">
                    <div class="testimonial-thumb">
                        <img src="/assets/img/user/user1.jpg" alt>
                        <div class="say-client text-center">
                            <h4 class="say-client-name">Tom</h4>
                        </div>
                    </div>
                    <div class="testimonial-thumb">
                        <img src="/assets/img/user/user2.jpg" alt>
                        <div class="say-client text-center">
                            <h4 class="say-client-name">Nicole </h4>
                        </div>
                    </div>
                    <div class="testimonial-thumb">
                        <img src="/assets/img/user/user3.jpg" alt>
                        <div class="say-client text-center">
                            <h4 class="say-client-name">James </h4>
                        </div>
                    </div>
                    <div class="testimonial-thumb">
                        <img src="/assets/img/user/user4.jpg" alt>
                        <div class="say-client text-center">
                            <h4 class="say-client-name">Omar </h4>
                        </div>
                    </div>
                    <div class="testimonial-thumb">
                        <img src="/assets/img/user/user5.jpg" alt>
                        <div class="say-client text-center">
                            <h4 class="say-client-name">Paul </h4>
                        </div>
                    </div>
                    <div class="testimonial-thumb">
                        <img src="/assets/img/user/user6.jpg" alt>
                        <div class="say-client text-center">
                            <h4 class="say-client-name">Nicole</h4>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        @* <section class="new-course new-course-join">
            <div class="container">
                <div class="new-course-background">
                    <div class="row">
                        <div class="col-lg-7 col-md-6 d-flex align-items-center">
                            <div class="every-new-course aos " data-aos="fade-up">
                                <div class="new-course-text">
                                    <h1>Want to share your knowledge? Join usa Mentor</h1>
                                    <p class="page-sub-text ">
                                        High-definition video is video of higher resolution and
                                        quality than standard-definition. While there is no standardized meaning for
                                        high-definition, generally any video.
                                    </p>
                                </div>
                                <div class="join-more-two">
                                    <a href="search.html" class="btn btn-primary">Find More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-6 d-flex align-items-end">
                            <div class="new-course-img aos " data-aos="fade-up">
                                <img src="/assets/img/join-2.png" alt="new course">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> *@
    </div>
<div>
    <main>

    <script src="/assets/js/jquery-3.6.0.min.js"></script>

    <script src="/assets/js/bootstrap.bundle.min.js"></script>

    <script src="/assets/js/owl.carousel.min.js"></script>

    <script src="/assets/plugins/slick/slick.js"></script>

    <script src="/assets/plugins/aos/aos.js"></script>

    <script src="/assets/js/script.js"></script>

        



<!-- Mirrored from mentoring.dreamguystech.com/html/template/index-three.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 14 May 2023 10:30:49 GMT -->

</html>