@page
@model Dropify.Pages.NewsModel
@{
    ViewData["Title"] = "News";
}


<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from mentoring.dreamguystech.com/html/template/blog-grid.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 14 May 2023 10:32:30 GMT -->
<head>
    <meta charset="utf-8">
    <title>News</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.png">

    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">

    <link rel="stylesheet" href="/assets/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="/assets/plugins/fontawesome/css/all.min.css">

    <link rel="stylesheet" href="/assets/css/style.css">
</head>
</main>
    </div>
    <div class="main-wrapper">
        <div class="breadcrumb-bar">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-md-12 col-12">
                        
                        <h2 class="breadcrumb-title">News</h2>
                    </div>
                </div>
            </div>
        </div>


        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-8 col-md-12">
                        <div class="row blog-grid-row">
                        @{
                            
                            foreach (var n in Model.ListNews)
                                {
                                <div class="col-md-6 col-sm-12">
                                    <div class="blog grid-blog">
                                        <div class="blog-image">
                                            <a href="/Product/ProductDetail?productId=@n.ProductId"><img class="img-fluid" src="@n.ImgUrl" alt="Post Image"></a>
                                        </div>
                                        <div class="blog-content">
                                            <ul class="entry-meta meta-item">
                                                <li>
                                                    <div class="post-author">
                                                        <a href="#"><img src="/assets/img/user/user1.jpg" alt="Post Author"> <span>@n.CreatedBy</span></a>
                                                    </div>
                                                </li>
                                                <li><i class="far fa-clock"></i>@n.CreatedDate</li>
                                            </ul>
                                            <h3 class="blog-title"><a href="/News?NewsId=@n.NewsId">The new about Product</a></h3>
                                            <p class="mb-0">@n.NewsContents.Substring(0, Math.Min(n.NewsContents.Length, 200))@(n.NewsContents.Length > 200 ? "..." : "")</p>
                                            <a href="/News?NewsId=@n.NewsId" style="color:blue">View more information >></a>
                                        </div>
                                    </div>
                                </div>
                                }
                            
                                if(Model.News != null)
                            {
                                <div class="col-md-6 col-sm-12">
                                    <div class="blog grid-blog">
                                        <div class="blog-image">
                                            <a href="/Product/ProductDetail?productId=@Model.News.ProductId"><img class="img-fluid" src="@Model.News.ImgUrl" alt="Post Image"></a>
                                        </div>
                                        <div class="blog-content">
                                            <ul class="entry-meta meta-item">
                                                <li>
                                                    <div class="post-author">
                                                        <a href="#"><img src="/assets/img/user/user1.jpg" alt="Post Author"> <span>@@Model.News.CreatedBy</span></a>
                                                    </div>
                                                </li>
                                                <li><i class="far fa-clock"></i>@Model.News.CreatedDate</li>
                                            </ul>
                                            <h3 class="blog-title"><a href="/News?NewsId=@Model.News.NewsId">The new about Product</a></h3>
                                            <p class="mb-0">@Model.News.NewsContents</p>
                                            
                                        </div>
                                    </div>
                                </div>
                            }
                        }

                    </div>

                        @* <div class="row">
                            <div class="col-md-12">
                                <div class="blog-pagination">
                                    <nav>
                                        <ul class="pagination justify-content-center">
                                            <li class="page-item disabled">
                                                <a class="page-link" href="#" tabindex="-1"><i class="fas fa-angle-double-left"></i></a>
                                            </li>
                                            <li class="page-item">
                                                <a class="page-link" href="#">1</a>
                                            </li>
                                            <li class="page-item active">
                                                <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                                            </li>
                                            <li class="page-item">
                                                <a class="page-link" href="#">3</a>
                                            </li>
                                            <li class="page-item">
                                                <a class="page-link" href="#"><i class="fas fa-angle-double-right"></i></a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div> *@

                    </div>

                    <div class="col-lg-4 col-md-12 sidebar-right theiaStickySidebar">

                        <div class="card search-widget">
                            <div class="card-body">
                                <form class="search-form" method="post" asp-page="/News" asp-page-handler="Search">
                                    <div class="input-group">
                                    <input type="text" id="search_str" name="search_str" placeholder="Search..." class="form-control">
                                        <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                                    </div>
                                </form>
                            </div>
                        </div>


                        <div class="card post-widget">
                            <div class="card-header">
                                <h4 class="card-title">Latest News</h4>
                            </div>
                        <div class="card-body">
                            <ul class="latest-posts">
                                @foreach (var ln in Model.LastestNews)
                                {
                                    <li>
                                        <div class="post-thumb">
                                            <a href="/Product/ProductDetail?productId=@ln.ProductId">
                                                <img class="img-fluid" src="@ln.ImgUrl" alt>
                                            </a>
                                        </div>
                                        <div class="post-info">
                                            <h4>
                                                <a href="/News?NewsId=@ln.NewsId">@ln.NewsContents.Substring(0, Math.Min(ln.NewsContents.Length, 50))@(ln.NewsContents.Length > 50 ? "..." : "")</a>
                                                @* <a href="blog-details.html">@Html.Raw(ln.NewsContents)</a> *@
                                            </h4>
                                            <p>@ln.CreatedDate</p>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="/assets/js/jquery-3.6.0.min.js"></script>

    <script src="/assets/js/bootstrap.bundle.min.js"></script>

    <script src="/assets/plugins/theia-sticky-sidebar/ResizeSensor.js"></script>
    <script src="/assets/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js"></script>

    <script src="/assets/js/script.js"></script>
    <div>
<main>

<!-- Mirrored from mentoring.dreamguystech.com/html/template/blog-grid.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 14 May 2023 10:32:31 GMT -->
</html>